---
import { Image } from "astro:assets";
import affiliated from "../assets/images/affiliatedCase.jpg";
import vlm from "../assets/images/vildMedMad.jpg";
import dragonNest from "../assets/images/dragonNest.jpg";
import profileP from "../assets/images/portfolie.jpg";
import bakSandwich from "../assets/images/bakSandwich.jpg";
---

<section>
  <h2>MY PROJECTS</h2>
  <div class="list">
    <a class="item" target="”_blank”" href="https://andreassage.dk/04_animation/Website/index.html"><div><Image src={dragonNest} alt="/" /></div></a>
    <a class="item" target="”_blank”" href="https://andreassage.dk/bak_website2/index.html"><div><Image src={bakSandwich} alt="/" /></div></a>
    <a class="item" target="”_blank”" href="https://andreassage.dk/"><div><Image src={profileP} alt="/" /></div></a>
    <a class="item" target="”_blank”" href="https://affiliated.netlify.app/"><div><Image src={affiliated} alt="/" /></div></a>
    <a class="item" target="”_blank”" href="https://vildmadsanke.netlify.app/"><div><Image src={vlm} alt="/" /></div></a>
  </div>
</section>

<style>
  section {
    grid-column: full;
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2rem;
  }
  h2 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    grid-column: content;
  }
  .list {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    grid-column: full;
  }
  .list .item {
    transition: 0.5s;
    filter: brightness(0.3);
  }

  .list .item:hover {
    filter: brightness(1);
    transform: translateZ(200px);
  }
  .list .item:hover + * {
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(30deg);
  }
  .list .item:hover + * + * {
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(20deg);
  }
  .list .item:hover + * + * + * {
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(10deg);
  }

  .list .item:has(+ *:hover) {
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-30deg);
  }
  .list .item:has(+ * + *:hover) {
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-20deg);
  }
  .list .item:has(+ * + * + *:hover) {
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(-10deg);
  }

  img {
    border-radius: 30px;
    width: fit-content;
  }
</style>
